<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
   <!--<add name="SurfactanSA" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;"/>-->
  
<add name="SurfactanSA"
    connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;" />
<add name="Surfactan_VII"
 connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes;" />
<add name="Surfactan_V"
 connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_V;Trusted_Connection=Yes;" />
</connectionStrings>
  <appSettings>
    <add key="Fecha_Desde" value=""/>
    <add key="Fecha_Hasta" value=""/>
  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
