<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
   <!--<add name="SurfactanSA" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;"/>-->
  
<add name="SurfactanSA"
    connectionString="Data Source=193.168.0.7;Initial Catalog=surfactanSA;User ID=usuarioadmin; Password=usuarioadmin" />
<add name="Surfactan_VII"
 connectionString="Data Source=193.168.0.7;Initial Catalog=surfactan_VII;User ID=usuarioadmin; Password=usuarioadmin" />
<add name="Surfactan_V"
 connectionString="Data Source=193.168.0.7;Initial Catalog=surfactan_V;User ID=usuarioadmin; Password=usuarioadmin" />
</connectionStrings>
  <appSettings>
    <add key="Fecha_Desde" value=""/>
    <add key="Fecha_Hasta" value=""/>
  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
